<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet"> 
    {% endblock %}
</head>

<body>
    {% block body %}

    {% block header %}
    <div class="navbar">
        <h1 class="title">Tuto Simplon</h1>
        <a href="/"><i class="fas fa-home"></i></a>
        <div class="dropdown">
            <button class="dropbtn">Categeories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/sections/cloud/"><i class="fas fa-cloud"></i> Cloud</a>
                <a href="/sections/docker/"><i class="fab fa-docker"></i> Docker</a>
                <a href="/sections/python/"><i class="fab fa-python"></i> Python</a>
                <a href="/sections/js/"><i class="fab fa-node-js"></i> Javascript</a>
                <a href="/add"><i class="fas fa-plus"></i> Add video</a>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}
    
    {% block footer %}
    <footer class="footer-container">
        <p>Created and designed By Maria, Youcef & Jordan Powered By Flask 2021 ©</p>
    </footer>
    <script src="{{url_for('static', filename='JS/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/d54a7ee144.js" crossorigin="anonymous"></script>
    {% endblock %}

</body>
    {% endblock %}

</html>